<footer class="px-[10px] lg:px-[40px] py-[40px]">
    <div class="flex flex-col lg:flex-row gap-[40px] lg:justify-between lg:items-center justify-start">
        <div class="flex flex-col lg:flex-row gap-[40px] lg:items-center">
            <p class="heading-6-bold">Marcos Property Rentals</p>
            <ul class="flex flex-col lg:flex-row gap-[10px]">
                <li><a href="/privacy-policy" class="small-light hover:underline">Privacy Policy</a></li>
                <li><a href="/terms-and-conditions" class="small-light hover:underline">Terms and Conditions</a></li>
            </ul>
        </div>

        <small class="small-light">&copy; 2026 Marcos Property Rentals. All rights reserved.</small>
    </div>
</footer>