<nav class="bg-navy">
  <div class="container h-[80px] flex flex-row justify-between items-center">
    <a href="/" class="heading-5-bold text-eggshell"
      >Marco's Property Rental's</a
    >
    <ul class="flex-row gap-[30px] hidden lg:flex">
      {%- for item in navigationTenant %} {%- set isCurrent = false %} {%- if
      item.url == '/' %} {%- if page.url == '/' %} {%- set isCurrent = true %}
      {%- endif %} {%- else %} {%- if page.url.startsWith(item.url) %} {%- set
      isCurrent = true %} {%- endif %} {%- endif %}
      <li>
        <a
          href="{{ item.url }}"
          class="font-bold hover:underline underline-offset-[8px] py-[20px] {%- if isCurrent %} text-navy{% elif item.cta %} button-primary-peach{% else %} text-eggshell{% endif %}"
          {%-
          if
          isCurrent
          %}
          aria-current="page"
          {%
          endif
          %}
        >
          {{ item.label }}
        </a>
      </li>
      {%- endfor %}
    </ul>
  </div>
</nav>
