<nav class="px-[40px] py-[20px] bg-peach">
    <div class="flex flex-row justify-between gap-[20px]">
        <a href="/" class="heading-6-bold text-navy">Marcos Property Rentals</a>
        <ul class="flex-row gap-[20px] hidden lg:flex">
            {%- for item in navigationTenant %}
            {%- set isCurrent = false %}
            {%- if item.url == '/' %}
            {%- if page.url == '/' %}
            {%- set isCurrent = true %}
            {%- endif %}
            {%- else %}
            {%- if page.url.startsWith(item.url) %}
            {%- set isCurrent = true %}
            {%- endif %}
            {%- endif %}
            <li>
                <a href="{{ item.url }}" class="text-eggshell medium-medium hover:underline underline-offset-[8px] py-[20px]
            {%- if isCurrent %} text-navy{% endif %}" {%- if isCurrent %} aria-current="page" {% endif %}>
                    {{ item.label }}
                </a>
            </li>
            {%- endfor %}
        </ul>
    </div>
</nav>