---
layout: base/base.njk
title: "Hello World"
description: "Hello"
permalink: index.html
---

<!-- Landing Section -->
<section class="h-screen relative flex flex-col lg:flex-row">
    <a href="/" class="absolute top-[20px] left-1/2 -translate-x-1/2 z-10 heading-6-bold">Marcos Property Rentals</a>
    <div
        class="w-full h-1/2 lg:h-full lg:w-auto lg:flex-1 lg:hover:grow-[2.333] transition-[flex-grow] duration-500 ease-in-out flex flex-col gap-[20px] justify-center items-center bg-gray-200">
        <img src="/assets/svgs/icon.svg" alt="" class="w-[24px] h-[24px]">
        <p>I am a</p>
        <h1 class="heading-1-bold">Landlord</h1>
        <p class="max-w-sm text-center">We help landlords find reliable tenants and manage the referencing process from
            start to
            finish.</p>
        <a href="/landlord.html" class="button-primary">List your property</a>
    </div>
    <div
        class="w-full h-1/2 lg:h-full lg:w-auto lg:flex-1 lg:hover:grow-[2.333] transition-[flex-grow] duration-500 ease-in-out flex flex-col gap-[20px] justify-center items-center bg-gray-300">
        <img src="/assets/svgs/icon.svg" alt="" class="w-[24px] h-[24px]">
        <p>I am a</p>
        <h1 class="heading-1-bold">Tenant</h1>
        <p class="max-w-sm text-center">Browse available properties and let us guide you through a
            straightforward
            application process.</p>
        <a href="/tenant.html" class="button-primary">find your home</a>
    </div>
</section>