---
layout: base/base.njk
title: "Enquiry Submitted"
description: "Your enquiry has been submitted."
permalink: success/index.html
eleventyExcludeFromCollections: true
---

{% include "header/header.njk" %}

<section class="py-[100px]">
    <div class="container">
        <p class="heading-4-bold">Submitted</p>
    </div>
</section>
